:root {
    --primary-color: #cc6600;
    --secondary-color: #664d00;
    --tertiary-color: #39a6b2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: var(--tertiary-color);
    font-family: helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/virgin-ut.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a{
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/virgin-ut.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-about-me {
    width: 35%;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-about-me h2 {
    display: block;
    font-style: italic;
    font-size: 55px;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 1.5;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.hero-images {
    margin: 3.5%;
    justify-content: space-around;
}

.my-work {
    background-color: var(--secondary-color);
}   

.run-buddy a {

}

.projects a {
    color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px 30px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.section-title {
    font-size: 55px;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    border-bottom: 3px solid;
    text-align: center;
    margin: 0 auto 35px auto;
}

.primary-border{
    border-color: var(--primary-color);
}

/* MEDIA QUERY */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer ul {
        text-align: center;
        width: 100%
    }

    .hero-about-me, .hero-images {
        width: 100%;
    }

    .hero-about-me {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .my-work {
        flex: 0 70%;
    }

    .contact-info {
        flex: 1 100%;
    }
}

@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }

    .projects {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > *{
        flex: 0 100%;
    }
}
